#hero-health, #enemy-health {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

#hero-health div, #enemy-health div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}
#gary {
  width: 32px;
  height: 48px;
  background: url(../assets/kainhighwind.png) 0 0;
}


#darius {
  width: 96px;
  height: 96px;
  background: url(../assets/bahamut.png) 0 0;
}

footer {
  width: 180px;
  height: 80px;
  overflow: auto;
}