.container {
  width:500px;
}

.header {
  width: 500px;
}

#hero-health, #enemy-health {
  display: inline-block;
  width: 240px;
  height: 22px;
  border: 1px solid #111;
  background-color: #292929;
}

#hero-health div, #enemy-health div {
  display: inline-block;
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
}

.game {
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  height: 186px;
}

#gary {
  width: 32px;
  height: 48px;
  background-image: url(../assets/kainhighwind.png);
  background-position: 0 0;
  position: relative;
  display: inline-block;
  top: 85px;
  left: 30px;
}


#darius {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-image: url(../assets/bahamut.png);
  background-position: 0 0;
}

footer {
  width: 180px;
  height: 80px;
  overflow: auto;
}